

.oscuro{
    width: 100%;
    height: 100vh;
    background-color:rgb(50, 50, 63);
    color: #fff;
}

.dark{
  background-color: rgb(45, 69, 70);
  color: #fff;
}

.enlace-oscuro{
  color: #fff;
  text-decoration: none;
}